
#
# Binaries for programs and plugins
# Build artifacts
# Code coverage profiles and other test artifacts
# Dependency directories (remove the comment below to include it)
# Editor/IDE
# env file
# Go workspace file
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
# .idea/
# If you prefer the allow list template instead of the deny list, see community template:
# Test binary, built with `go test -c`
# vendor/
# .vscode/
/build/
coverage.*
*.coverprofile
*.dll
*.dylib
.env
*.exe
*.exe~
go.work
go.work.sum
iodat
*.json
*.out
profile.cov
*.so
*.test
